{% extends 'base.html' %}
{% block content %}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About Us....</h1>
            <p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template</p>
        </div>
    </div>
</header>

    <div class="container"
        <div class="row">
            <center>
                <div class="col-8">

<p align="justify">
    <br/><br/>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque viverra dapibus vestibulum. Phasellus id varius nisl, id pretium purus. Nulla vitae mauris justo. Pellentesque id ultricies leo. Donec hendrerit porta risus et aliquet. Maecenas leo ipsum, blandit et eros sit amet, efficitur feugiat nulla. Curabitur eu vestibulum felis, et commodo massa.
<br/><br/>
Nam fermentum dignissim nibh, sed ullamcorper eros sodales quis. Vivamus vel efficitur elit. Aliquam rhoncus lacinia varius. Fusce velit dui, efficitur eu tortor in, efficitur elementum justo. Nam quis augue fringilla arcu tincidunt interdum. Vivamus turpis quam, volutpat non scelerisque sit amet, ornare et dui. Mauris porttitor condimentum magna, et accumsan nisl sagittis et. Duis tristique eu nunc vitae rhoncus. Sed eleifend scelerisque ipsum sit amet suscipit. Suspendisse id turpis ipsum. Sed scelerisque varius ipsum, eu faucibus orci aliquam non. Quisque non turpis at risus sagittis elementum. Sed ornare diam nec mollis volutpat. Fusce vel elit rhoncus, pulvinar risus id, commodo lorem. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Proin efficitur erat in dolor tincidunt, a feugiat ipsum tristique.
<br/><br/>
                        </p>
                    </div>
                </center>
            </div>
        </div

           

{% endblock %}